.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-div{
    flex: 0.3;
    height: 70vh;
    
 
}
.right-div{
    flex:0.7;
    height: 100vh;
}
.video-call{
    margin-top: 10px;
   
  
}