.game-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
  }
  
  .card-main {
    display: flex;
    margin-bottom: 16px; 
  }
  
  .game-card {
    width: 100px;
    height: 100px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  